<div class="h-max">
    <ul class="flex gap-4 h-max">
        <li class="flex justify-center rounded-md py-2 px-4 bg-purple-gradient text-white w-max shadow-btn">
            <a href="#">
                Tout
            </a>
        </li>
        <li class="flex justify-center rounded-md py-2 px-4 bg-white border border-purple text-purple min-w-28 w-max shadow-card">
            <a href="#">
                Mini-jeux
            </a>
        </li>
        <li class="flex justify-center rounded-md py-2 px-4 bg-white border border-purple text-purple min-w-28 w-max shadow-card">
            <a href="#">
                Arcade
            </a>
        </li>
        <li class="flex justify-center rounded-md py-2 px-4 bg-white border border-purple text-purple min-w-28 w-max shadow-card">
            <a href="#">
                Réflexion
            </a>
        </li>
        <li class="flex justify-center rounded-md py-2 px-4 bg-white border border-purple text-purple min-w-28 w-max shadow-card">
            <a href="#">
                Longs
            </a>
        </li>
        <li class="flex justify-center rounded-md py-2 px-4 bg-white border border-purple text-purple min-w-28 w-max shadow-card">
            <a href="#">
                Equipe
            </a>
        </li>
    </ul>
</div>